<html>
    <body>
        <head>
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <img src="logo.png" />
            <h1>
                Welcome!
            </h1>
            <form action="/data" method = "POST"style="display: inline;">
            <button>Add New Task</button>
            </form>
            <form action="/data2" method="POST" style="display: inline;">
            <button>Add New Developer</button>
            </form>
            <form action="/data3" method = "POST"style="display: inline;">
            <button>List All Tasks</button>
            </form>
            <form action="/data4", method = "POST"style="display: inline;">
            <button>List All Developers</button>
            </form>
            <form action="/data5", method = "POST"style="display: inline;">
            <button>Delete Tasks</button>
            </form>
            <form action="/data6", method = "POST"style="display: inline;">
            <button>Update Task Status</button>
            </form>
    </body>
</html>