<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <h2>
        <a href="/">Home</a>
        <a href="/addtask">Add task</a>
        <a href="/listtasks">List tasks</a>
        <a href="/insertdeveloper">Add developer</a>
        <a href="/listdevelopers">List Developers</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
    </h2>
    <body>
        <h1>Insert a developer: </h1>
        <form action="insertdeveloper" method = "POST">
            First Name <input type="text" name = "firstName" /> <br>
            Last Name <input type="text" name = "lastName" /> <br>
            Level  <input type="text" name = "level" /> <br>
            State <input type="text" name = "state" /> <br>
            Suburb <input type="text" name = "suburb" /> <br>
            Street <input type="text" name = "street" /> <br>
            Unit <input type="number" name = "unit" /> <br>
            <button>Sumbit</button>
    </body>
</html>